<template>
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-12">
                <div class="billing-details">
                    <div class="shop-form">
                        <form method="post">
                            <div class="default-title">
                                <h2>FORM CEK STATUS PESANAN & KONFIRMASI PEMBAYARAN</h2>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Kode Transaksi / Email <sup>*</sup>
                                    </label>
                                    <input type="text" v-model="transaction_code" placeholder="KODE TRANSAKSI / EMAIL" class="form-control">
                                    <div class="error-form">{{ errors.get('transaction_code') }}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                     <label>&nbsp;</label>
                                    <button :disabled="button" v-on:click="getTransaction" class="btn_full">
                                        <b-spinner v-if="button" variant="success" label="Spinning"></b-spinner>
                                        <span v-else>Cari Pesanan <i class="icon-left"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Billing Details-->
            </div>
            <!--End Col-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="billing-details">
                    <div class="shop-form">
                        <div v-if="transactionFound">
                            <div class="default-title">
                                <h2>Informasi Pemesanan</h2>
                            </div>
                            <div class="row">
                                <table class="table table-bordered w-100 display compact">
                                    <tr>
                                        <th>Kode Transaksi</th>
                                        <td>{{ dataReference.transaction_code }}</td>
                                        <th>Nama Lengkap</th>
                                        <td>{{ dataReference.fullname }}</td>
                                        <th>Jenis Kelamin</th>
                                        <td>{{ (dataReference.gender == 'L')?'Laki-Laki':'Perempuan'  }}</td>
                                    </tr>
                                    <tr>
                                        <th>Telepon</th>
                                        <td>{{ dataReference.phone  }}</td>
                                        <th>Email</th>
                                        <td>{{ dataReference.email  }}</td>
                                        <th>Negara</th>
                                        <td>{{ dataReference.country.name  }}</td>
                                    </tr>
                                    <tr>
                                        <th>Alamat</th>
                                        <td colspan="5">
                                            {{ dataReference.address  }}, 
                                            {{ (dataReference.sub_district)?dataReference.sub_district.name:""  }}, 
                                            {{ (dataReference.district)?dataReference.district.name:""  }}, 
                                            {{ (dataReference.regency)?dataReference.regency.name:""  }}, 
                                            {{ (dataReference.province)?dataReference.province.name:""  }}, 
                                            {{ (dataReference.country)?dataReference.country.name:""  }}, 
                                            {{ dataReference.postalcode  }}</td>
                                    </tr>
                                    <tr>
                                        <th>Metode Pengiriman</th>
                                        <td>{{ (dataReference.shipping_method)?dataReference.shipping_method.name:""  }}</td>
                                        <th>Ekspedisi</th>
                                        <td>
                                            {{ (dataReference.expedition)?dataReference.expedition:"-"  }}
                                        </td>
                                        <th>No Resi</th>
                                        <td>{{ (dataReference.receipt_code)?dataReference.receipt_code:"-"  }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total Transaksi</th>
                                        <td>{{ dataReference.grand_total_format  }}</td>
                                        <th>Ongkos Kirim</th>
                                        <td>
                                            {{ dataReference.shipping_cost_format  }}</td>
                                        
                                        <th>Total Pembayaran</th>
                                        <td>
                                        {{ dataReference.grand_total_and_shipping_cost_format  }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Metode Pembayaran</th>
                                        <td>{{ (dataReference.payment_method)?dataReference.payment_method.name:""  }}</td>
                                        <th>Status</th>
                                        <td colspan="3">{{ dataReference.display_status  }}</td>
                                    </tr>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="default-title">
                                        <h2>Detail Belanja</h2>
                                    </div>
                                    <div class="cart-section">
                                        <table class="table table-striped cart-list shopping-cart">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Produk
                                                    </th>
                                                    <th>
                                                        Detail
                                                    </th>
                                                    <th>
                                                        Harga
                                                    </th>
                                                    <th>
                                                        Jumlah
                                                    </th>
                                                    <th>
                                                        Total
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in dataReference.transaction_detail" v-bind:key="item.id">
                                                    <td>
                                                        <div class="thumb_cart">
                                                            <a href="#"><img :src="item.product_detail.file_url" alt="">
                                                            </a>
                                                        </div>
                                                        <strong  class="item_cart">
                                                            <a href="#">
                                                                {{ item.product_detail.product.name }}
                                                            </a>
                                                        </strong>
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            {{ item.product_detail.product_detail_name }}
                                                        </strong>
                                                    </td>
                                                    <td>
                                                        <strong>{{ item.product_detail.product.price_format }}</strong>
                                                    </td>
                                                    <td>
                                                        <strong>{{ item.quantity }}</strong>
                                                    </td>
                                                    <td>
                                                        <strong>{{ item.total_format }}</strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="row justify-content-end">
                                            <div class="column col-lg-4 col-md-6">
                                                <ul class="totals-table">
                                                    <li class="clearfix"><span class="col">Ongkos Kirim</span><span class="col">
                                                        {{ dataReference.shipping_cost_format  }}
                                                    </span>
                                                    </li>
                                                    <li class="clearfix total"><span class="col">Total Pembayaran</span>
                                                    <span class="col">
                                                        {{ dataReference.grand_total_and_shipping_cost_format  }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Billing Details-->
            </div>
            <!--End Col-->
        </div>
        
        <div class="row" v-if="paymentMethodForm">
            <div class="col-lg-12">
                <div class="billing-details">
                    <div class="shop-form">
                        <form method="post" v-if="transactionFound">
                            <div class="default-title">
                                <h2>KONFIRMASI PEMBAYARAN</h2>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label>Metode Pembayaran <sup>*</sup>
                                    </label>
                                    <select v-model="payment_method_id" class="form-control">
                                        <option 
                                        v-for="paymentMethod in paymentMethods"
                                        v-bind:key="paymentMethod.id"
                                        v-bind:value="paymentMethod.id">{{ paymentMethod.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Unggah file foto bukti transaksi <sup>*</sup>
                                    </label>
                                    <b-form-file
                                        v-model="payment_slip"
                                        :state="Boolean(payment_slip)"
                                        ref="file"
                                        placeholder="Pilih file atau tarik kesini..."
                                        drop-placeholder="Tarik file anda kesini..."
                                    ></b-form-file>
                                    <div class="error-form">{{ errors.get('payment_slip') }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                     <label>&nbsp;</label>
                                    <button 
                                        :disabled="button" v-on:click="sendPaymentConfirmation" class="btn_full">
                                        <b-spinner v-if="button" variant="success" label="Spinning"></b-spinner>
                                        <span v-else>Konfirmasi Pembayaran <i class="icon-left"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Billing Details-->
            </div>
            <!--End Col-->
        </div>

        <div class="modal-introduction">
                <b-modal id="bv-modal-intro" size="lg" hide-footer scrollable hide-backdrop content-class="shadow" title="Tata Cara Konfirmasi Pembayaran">
                    <h4>1. Ketikkan Kode Transaksi atau Email yang digunakan untuk transaksi</h4>
                    <div class="mb-2"><img width="600px" :src="konfirmasi_pembayaran" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>2. Cek pesanan, Total Transaksi, Ongkos Kirim, dan Total yang harus di bayarkan. Jika sudah sesuai silahkan lakukan pembayaran sesuai Total yang harus dibayar, lalu foto bukti pembayaran, dan kemudian lakukan proses konfirmasi pembayaran dengan kirim bukti pembayaran dan metode yang digunakan, kemudian klik tombol Konfirmasi Pembayaran.</h4>
                    <div class="mb-2"><img width="600px" :src="cek_pesanan" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>3. Jika Konfirmasi Pembayaran berhasil terkirim, maka akan muncul Ringkasan Pembayaran.</h4>
                    <div class="mb-2"><img width="600px" :src="status_pembayaran" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>4. Cek status pesanan secara berkala untuk mengetahui status pengiriman dan No Resi untuk melacak paket anda.</h4>
                    
                </b-modal>
            </div>
    </div>
</template>
<script>
import Errors from "../modules/Errors";
import { remove, destroy } from 'cart-localstorage';
export default {
    name:"paymentConfirmation",
    props:["cartLists", "totalItem", "subTotal"],
    mounted(){
        this.showIntro();
    },
    created(){
        this.getPaymentMethod();
    },
    data(){
        return{
            errors: new Errors(),
            button: false,
            transactionFound:false,
            transaction_code:"",
            dataReference:{},
            paymentMethods:{},
            uuid:"",
            payment_method_id:"",
            payment_slip: null,
            paymentMethodForm: true,
            konfirmasi_pembayaran:url+"images/intro/6.konfirmasi_pembayaran.jpg",
            cek_pesanan:url+"images/intro/1.cek_pesanan.jpg",
            status_pembayaran:url+"images/intro/2.status_pembayaran.jpg",
        };
    },
    methods:{
        showIntro(){
            this.$bvModal.show('bv-modal-intro');
        },
        hideIntro(){
            this.$bvModal.hide('bv-modal-intro');
        },
        getPaymentMethod() {
        axios
            .get("paymentMethods")
            .then(response => {
            this.paymentMethods = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getTransaction()
        {
            this.button = true;
            axios
                .get("getTransaction/"+ this.transaction_code)
                .then(response => {
                    this.button = false;

                    if(response.data.status == 'success'){
                        this.transactionFound = true;
                        this.transaction_code = "";
                        this.dataReference = response.data.summary;
                        this.uuid = response.data.summary.uuid;
                        if(response.data.summary.status > 2){
                            this.paymentMethodForm = false;
                        }
                        this.$toasted.info(" "+response.data.message, {icon:'check', position:'bottom-right'});
                    }else{
                        this.transactionFound = false;
                        this.$toasted.error(" "+response.data.message, {icon:'check', position:'bottom-right'});
                    }

                })
                .catch(function(error) {
                    console.log(error);
            });
        },

        sendPaymentConfirmation()
        {
            this.button = true;
            let data = new FormData();

            data.append("payment_method_id", this.payment_method_id);
            data.append("payment_slip", this.payment_slip);

            const config = {
                headers: {
                "Content-Type": "multipart/form-data"
                }
            };
            axios
                .post("paymentConfirmation/"+ this.uuid, data, config)
                .then(response => {
                    this.button = false;
                    this.$store.dispatch('setConfirmation', response.data.summaryTransaction);
                    this.$swal({
                        icon: response.data.status,
                        text: response.data.message,
                    });

                    this.$router.push({ name: "payment-confirmation-status" });
                })
                .catch(error => {
                this.errors.record(error.response.data);
                this.button = false;
                this.$swal({
                    icon: 'error',
                    text: 'Konfirmasi pembayaran anda belum dapat diproses, silahkan cek kembali data anda!'
                });
            });
        },
    }
}
</script>

