<template>
  <div id="wrapper">
    <preloader></preloader>
    <mobile-overlay></mobile-overlay>

    <div id="header">
      <header-container-menu 
      :cartLists="cartLists"
      :totalItem="totalItem"
      :subTotal="subTotal"
      @emitRemoveItem="emitRemoveItem"
      :configurations="configurations"
      ></header-container-menu>
    </div>

    <main>
      <carousel></carousel>

      <router-view
      @updateCartLists="emitUpdateCartLists"
      :checkItem="checkItem"
      @emitRemoveItem="emitRemoveItem"
      :cartLists="cartLists"
      :totalItem="totalItem"
      :subTotal="subTotal"
      @emitCartLists="getCartLists"
      ></router-view>
    </main>

    <app-footer
    :configurations="configurations"
    ></app-footer>

    <back-to-top></back-to-top>
    <sign-in-pop-up></sign-in-pop-up>
  </div>
</template>

<script>
import Preloader from '../components/layouts/Preloader'
import MobileOverlay from '../components/layouts/MobileOverlay'
import HeaderTopLine from '../components/layouts/HeaderTopLine'
import HeaderContainerMenu from '../components/layouts/HeaderContainerMenu'
import Parallax from '../components/layouts/Parallax'
import Footer from '../components/layouts/Footer'
import BackToTop from '../components/layouts/BackToTop'
import SignInPopUp from '../components/layouts/SignInPopUp'
import Carousel from '../components/home/Carousel'

import { list, get, exists, total, remove } from 'cart-localstorage';
export default {
  name:"parent",
  components:{
    'Preloader': Preloader,
    'MobileOverlay': MobileOverlay,
    'HeaderTopLine': HeaderTopLine,
    'HeaderContainerMenu': HeaderContainerMenu,
    'Parallax':Parallax,
    'AppFooter': Footer,
    'BackToTop': BackToTop,
    'SignInPopUp': SignInPopUp,
    'Carousel': Carousel
  },
  created(){
    this.getCartLists();
    this.getConfiguration();
    // this.$swal({
    //   icon: 'success',
    //   text: 'Something went wrong!'
    // });
    // this.$toasted.error('Ini pesan Success', {icon:'check'});
  },
  data(){
    return{
      cartLists:{},
      totalItem:"",
      grandTotal:"",
      checkItem:false,
      configurations:{},

    }
  },
  methods:{
    emitUpdateCartLists()
      {
        this.getCartLists();
      },
      emitRemoveItem(id)
      {
        this.$swal({
          icon: 'error',
          text: 'You want delete this item?',
          showCancelButton: true,
        }).then((result) => {
          if(result.value){
            remove(id);
            this.checkItem = true;
            this.getCartLists();
          }
        });

      },
      getCartLists()
        {
            this.cartLists = list();
            this.totalItem = this.cartLists.length;
            this.subTotal = total();
        },
        getConfiguration()
        {
            axios
                .get("configuration")
                .then(response => {
                  this.configurations = response.data;
                })
                .catch(function(error) {
                    console.log(error);
            });
        },
  }
}
</script>

