<template>
    <div class="container background_header">
        <div class="row">
            <div class="col-3">
                <img :src="configurations.logo_url" width="100px" alt="logo company" data-retina="true">
            </div>
            <nav class="col-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img :src="configurations.logo_url" width="160" height="34" alt="logo company" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li>
                                <router-link :to="{ name: 'home' }" prefetch>Produk</router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'payment-confirmation' }" prefetch>Konfirmasi Pembayaran</router-link>
                            </li>
                        </ul>
                </div><!-- End main-menu -->
                <cart-dropdown 
                :cartLists="cartLists"
                :totalItem="totalItem"
                :subTotal="subTotal"
                @emitRemoveItem="emitRemoveItem"></cart-dropdown>
            </nav>
        </div>
    </div><!-- container -->
</template>
<script>
import CartDropdown from './CartDropdown';
export default {
    name:"headerContainerMenu",
    props:["cartLists", "totalItem", "subTotal", "configurations"],
    components:{
        CartDropdown
    },
    methods:{
        emitRemoveItem(id)
        {
            this.$emit("emitRemoveItem", id);
        }
    }
}
</script>
