<template>
    <div class="search-overlay-menu">
        <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
        <form role="search" id="searchform" @submit="onSubmit">
            <input v-model="search" type="search" placeholder="Cari Produk..." />
            <button v-on:click="searchProduct" type="submit"><i class="icon_set_1_icon-78"></i>
            </button>
        </form>
    </div>
</template>
<script>
export default {
    data(){
        return{
            search:""
        };
    },
    methods:{
        searchProduct()
        {
            this.$emit("searchProduct", this.search);
        },
        onSubmit(){
            event.preventDefault();
        }
    }
}
</script>
