<template>
    <div>
        <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1450"
            img-height="750"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
            >
            <div v-for="mySlide in slides" v-bind:key="mySlide.id">
                <b-carousel-slide>
                <template v-slot:img>
                    <img
                    class="d-block img-fluid w-100"
                    width="1450"
                    height="750"
                    :src="mySlide.file_url"
                    :alt="mySlide.photo_url"
                    >
                </template>
                </b-carousel-slide>
            </div>
        </b-carousel>
        <div id="icon_drag_mobile"></div>
    </div>
</template>

<script>
export default {
    name:"carousel",
    components:{
    },
    created(){
        this.getSlideshow();
    },
    data(){
        return{
            slides:{},
            slide: 0,
            sliding: null,
        };
    },
    methods:{
        onSlideStart(slide) {
        this.sliding = true;
        },
        onSlideEnd(slide) {
        this.sliding = false;
        },
        getSlideshow()
        {
            axios
                .get("slideshow")
                .then(response => {
                  this.slides = response.data;
                })
                .catch(function(error) {
                    console.log(error);
            });
        },
    }
}
</script>

