<template>
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-section">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="results_shop">
                                {{ totalData }} produk ditemukan.
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-4">
                            <input type="text" v-model="searchProduct" class="form-control" placeholder="Cari nama produk disini..." aria-label="Cari nama produk disini..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button v-on:click="getProductBySearch" class="btn btn-outline-secondary" type="button"><i class="icon_set_1_icon-78"></i></button>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <select 
                            v-model="categoryId" 
                            placeholder="Kategori Produk"
                            v-on:change="getProductByCategory"
                            class="form-control"
                            >
                                <option value="" selected="selected">Kategori Produk</option>
                                <option
                                v-for="category in categories"
                                v-bind:key="category.id"
                                v-bind:value="category.id"
                                >{{ category.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--End Sort By-->

                    <div class="row">

                        <div 
                        class="shop-item col-lg-3 col-md-6 col-sm-6" 
                        v-for="product in products"  v-bind:key="product.id">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        <router-link :to="{ name: 'product-detail', params:{id:product.id} }" prefetch>
                                            <img :src="product.first_image_detail" alt="">
                                        </router-link>
                                    </figure>
                                    <div class="item-options clearfix">
                                        <router-link 
                                        :to="{ name: 'product-detail', params:{id:product.id} }" prefetch class="btn_shop">
                                            <span class="icon-eye"></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                                <div class="product_description">
                                    <h3><a href="#">{{ product.name }}</a></h3>
                                    <div class="price" v-if="product.discount">
                                        <span class="offer">
                                            {{ product.price_format }}
                                        </span> {{ product.price_after_discount_format }}
                                    </div>
                                    <div class="price" v-else>
                                        {{ product.price_format }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Shop Item-->
                    </div>
                    <!--End Shop Item-->

                    <hr>
                    <pagination 
                        :data="paginationData" 
                        :align="'right'"
                        :size="'default'"
                        :disabled="true"
                        @pagination-change-page="setPage">
                    </pagination>
                    
                </div>
                <!-- End row -->
            </div>
            <!-- End col -->

            <div class="modal-introduction">
                <b-modal id="bv-modal-intro" size="lg" hide-footer scrollable hide-backdrop content-class="shadow" title="Tata Cara Pemesanan dan Pembayaran">
                    <h4>1. Pilih Produk</h4>
                    <div class="mb-2"><img width="600px" :src="pilih_produk" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>2. Tentukan Warna, Variant, dan Jumlah Pesan Kemudian Klik Add To Cart</h4>
                    <div class="mb-2"><img width="600px" :src="pilih_varian" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>3. Arahkan kursor ke gambar keranjang di kanan atas, untuk proses cart</h4>
                    <div class="mb-2"><img width="600px" :src="goto_cart" alt=""/></div>
                    <div>&nbsp;</div>
                    
                    <h4>4. Silahkan isi data pribadi untuk proses pesanan dan pengiriman, kemudian klik tombol Proceed to checkout</h4>
                    <div class="mb-2"><img width="600px" :src="isi_data" alt=""/></div>
                    <div>&nbsp;</div>

                    <h4>5. Jika pesanan berhasil, maka akan muncul Ringkasan Pesanan anda. Pesanan anda akan segera diproses maksimal 3x24 jam, dan Silahkan simpan Kode Transaksi, dan gunakan Kode Transaksi atau Email untuk melakukan Konfirmasi Pembayaran maupun cek status pesanan.
                    </h4>
                    <div class="mb-2"><img width="600px" :src="confirmation_status" alt=""/></div>
                    <div>&nbsp;</div>
                    
                    <h4>6. klik menu Konfirmasi Pembayaran, lalu masukkan Kode Transaksi atau Email untuk mendapatkan status Transaksi, Cek Status Pesanan anda, dan Jangan melakukan pembayaran sebelum status berubah menjadi "diproses", jika status sudah menjadi "diproses", maka anda bisa melakukan proses pemabayaran, sesuai Total Pembayaran yang tertera. Silahkan lakukan pembayaran sesuai dengan jumlah yang harus dibayar, kirim bukti pembayaran dan melakukan Konfirmasi Pembayaran.
                    </h4>
                    <div class="mb-2"><img width="600px" :src="konfirmasi_pembayaran" alt=""/></div>
                </b-modal>
            </div>
        </div>
    </div>
</template>
<script>
// import Carousel from '../components/home/Carousel'
export default {
    name:"products",
    components:{
    },
    data() {
        return {
            products: {},
            paginationData:{},
            paginationPath:"",
            totalData:"",
            categories:{},
            categoryId:"",
            searchProduct:"",
            pilih_produk:url+"images/intro/1.pilih_produk.jpg",
            pilih_varian:url+"images/intro/2.pilih_varian.jpg",
            goto_cart:url+"images/intro/3.goto_cart.jpg",
            isi_data:url+"images/intro/4.isi_data.jpg",
            confirmation_status:url+"images/intro/5.confirmation_status.jpg",
            konfirmasi_pembayaran:url+"images/intro/6.konfirmasi_pembayaran.jpg",
        };
    },
    mounted(){
        this.showIntro();
    },
    created() {
        this.getProducts();
        this.getCategories();
    },
    methods:{
        showIntro(){
            this.$bvModal.show('bv-modal-intro');
        },
        hideIntro(){
            this.$bvModal.hide('bv-modal-intro');
        },
        setPage(page) {
            let page_url = this.paginationPath + "?page="+page;
            this.getProducts(page_url);
        },

        getProducts(page_url, type, key) {
        /**api:target-controller: ApiProductController@index */
        if(type){
            page_url = page_url || "product-search/"+type+"/"+key;
        }else{
            page_url = page_url || "products";
        }

        axios
            .get(page_url)
            .then(response => {
                this.products = response.data.products.data;
                this.paginationData = response.data.products;
                this.paginationPath = response.data.products.path;
                this.totalData = response.data.products.total;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getCategories()
        {
            axios
                .get("categories")
                .then(response => {
                  this.categories = response.data;
                })
                .catch(function(error) {
                    console.log(error);
            });
        },
        getProductByCategory()
        {
            this.getProducts("", "searchCategory", this.categoryId);
        },
        getProductBySearch()
        {
            console.log(this.searchProduct);
            if(this.searchProduct.length > 0){
                this.getProducts("", "searchProduct", this.searchProduct);
            }
        },
        onSubmit(){
            event.preventDefault();
        }
    }
}
</script>
